<div class="container-fluid">
  <h1>Fomulario de Proposta - SINAF</h1>

  <div class="row">
    <div class="col-12">
      <label for="typeahead-basic">Nome</label> <input type="text" class="form-control" [(ngModel)]="cliente.Nome"  required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>CPF</label> <input [(ngModel)]="cliente.Cpf"  required>
    </div>
    <div class="col">
      <label>Data de Nascimento</label> <input [(ngModel)]="cliente.DtNascimento" required>
    </div>
    <div class="col">
      <label>Sexo</label> 
      <select [(ngModel)]="cliente.Sexo" required>
        <option value="0">Feminino</option>
        <option value="1">Masculino</option>
      </select>
    </div>
  </div>

  <label>E-Mail</label> <input [(ngModel)]="cliente.Email" required><br>
  <label>Telefone</label> <input [(ngModel)]="newtel"  required><br><button (click)="addTel($event)">ADD TEL</button>   
  <ul><li *ngFor="let item of cliente.Telefones; let i = index">
    {{i}} {{item}} <button (click)="delTel(i)">DEL</button></li></ul>

    <label>CEP</label> <input [(ngModel)]="newcep" required><br>
    <label>Endereço</label> <input [(ngModel)]="newend" required>&nbsp; 
    <label>Número</label> <input [(ngModel)]="newnum" required><br> 
    <label>Complemento</label> <input [(ngModel)]="newcompl" required>&nbsp;
    <label>Bairro</label> <input [(ngModel)]="newbairro" required> <br><br>

    <button (click)="addend($event)">ADD ENDEREÇO</button>   
    <ul>
      <li *ngFor="let item of cliente.Enderecos; let j = index">
        {{j}} {{item.EnderecoLog}} , {{item.Numero}} {{item.Complemento}} - {{item.Bairro}} - CEP: {{item.Cep}} <button (click)="delend(j)">DEL</button>
      </li>
    </ul><br>
    <label>Tem dependentes ou agregados?</label>
    <input type="radio" [(ngModel)]="boldepagreg" value="1" > Sim
    <input type="radio" [(ngModel)]="boldepagreg" value="0" (click)="cleardepagreg()"> Não<br>
   

    <div *ngIf="boldepagreg==1;">
      <label>Tipo</label>
      <select  required [(ngModel)]="newtipodepagreg">
        <option label="--Selecione --"></option>
        <option value=0>Agregado</option>
        <option value=1>Parente</option>
      </select>
      <br>
      <label>Nome</label> <input [(ngModel)]="newnomedepagreg" required><br>
      <label>CPF</label> <input [(ngModel)]="newcpfdepagreg" required><br>
      <button (click)="adddepagreg($event)">ADD Dependente/Agregado</button>   
    <ul>
      <li *ngFor="let item of cliente.DependenteAgregado; let k = index">
        {{k}} {{item.NomeDepen}} - {{item.Cpf}} <button (click)="deldepagreg(k)">DEL</button>
        </li>
      </ul><br>
    </div>
    <label>Cobertura</label>
      <select [disabled]="propostaseguro.Coberturascliente.length==0" required [(ngModel)] ="newcobertura">
        <option label="--Selecione --"></option>
        <option *ngFor="let item of coberturas.coberturas; let m = index" [value]="item.IdCobertura"> {{item.Descricao}}</option>
        
      </select>

      &nbsp;
      <label>Valor Assegurado</label> <input [(ngModel)]="newvalorassegurado" required>
      <br>
      <button (click)="addcobertura($event)">ADD Cobertura</button>
      <ul>
        <li *ngFor="let item of propostaseguro.Coberturascliente; let n = index">
          {{n}} {{item.Cobertura.Descricao}} - Valor Assegurado : R${{item.Valorsegurado}} - Valor do Premio : R${{item.Valorpremio}}  <button (click)="delcobertura(n)">DEL</button>
        </li>
      </ul><br> 

      <div *ngIf="propostaseguro.Valortotalpremio>0">
        <p>Valor Total do Premio R$ {{propostaseguro.Valortotalpremio}} </p>
      </div>


    </div>
<br>

  <span>{{propostaseguro|json}}</span>
